:root {
  --white: #ffffff;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.header {
  background-color: gray;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.header-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
