:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:is(:hover, :focus) {
  color: var(--main-btn-color);
  background-color: #ff6c00;
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/**------------- HEADER ---------------*/

.header {
  background-color: gray;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-link:is(:hover, :focus) {
  color: #ff6c00;
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.header-btn {
  color: var(--main-btn-color);
}
/**------------- HERO ---------------*/

.hero {
  background-color: #7b7575;
}
.hero-list {
}
.hero-item {
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:is(:hover, :focus) {
  color: #ff6c00;
}
.hero-top-text {
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}

.hero-bottom-text {
  color: #9da4bd;
}

/**------------- ABOUT ---------------*/

.about {
}
.about-list {
}

.about-item {
}
.about-top-text {
  color: #303030;
}

.about-title {
  color: var(--second-title-color);
}
.about-bottom-text {
  color: #555555;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-btn {
  color: var(--second-btn-color);
}

/**------------- PRICES ---------------*/

.prices {
  background-color: #303030;
}
.prices-top-text {
  color: rgba(157, 164, 189, 0.6);
}
.prices-title {
  color: #ffffff;
}

.prices-list {
}

.prices-item {
}
.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-btn {
  color: #ffffff;
}

/**------------- BENEFITS ---------------*/

.benefits {
}
.benefits-list {
}

.benefits-item .count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: #303030;
}
.benefits-top-text {
  color: #303030;
}
.benefits-title {
  color: var(--second-title-color);
}
.benefits-bottom-text {
  color: #555555;
}

/**------------- BENEFITS ---------------*/

.barbers {
}

.barbers-top-text {
  color: #303030;
}

.barbers-title {
  color: var(--second-btn-color);
}

.barbers-list {
}

.barbers-item {
}

.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.barbers-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

/**------------- GALLERY ---------------*/

.gallery-top-text {
  color: #303030;
}
